<!--==================== ABOUT ====================-->
<section class="about section" id="about">
    <h2 class="section__title"> About Me</h2>
    <span class="section__subtitle">My introduction</span>

    <div class="about__container container grid">
        <img src="myaiart.jpg" alt="" class="about__img">

        <div class="about__data">
            <p class="about__description">
                I'm software developer with extensive knowledge and years of experience. Currently I'm focusing on cloud and web 
                development. I take ownership of my products and delivering quality work.
            </p>

            <div class="about__info">
                <div >
                    <span class="about__info-title">07+</span>
                    <span class="about__info-name">Years <br> experience </span>
                </div>

                <div>
                    <span class="about__info-title">04+</span>
                    <span class="about__info-name">Companies <br> worked </span>
                </div>

                <div>
                    <span class="about__info-title">10+</span>
                    <span class="about__info-name">Completed <br> projects </span>
                </div>
            </div>
            <div class="about__buttons">
                <a download="CV.pdf" href="Michael_Hrabe_CV.pdf" class="button button--flex">
                    Download CV <i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
    </div>

</section>

<style lang="postcss">
    .grid{
        display: grid;
        gap: 1.5rem;
    }
    
    /*==================== ABOUT ====================*/
    .about__img{
        width: 200px;
        border-radius: .5rem;
        justify-self: center;
        align-self: center;
    }

    .about__description{
        text-align: center;
        margin-bottom: var(--mb-2-5);
    }

    .about__info{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mb-2-5);
    }

    .about__info-title{
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }

    .about__info-name{
        font-size: var(--smaller-font-size);
    }

    .about__info-title,
    .about__info-name{
        display: block;
        text-align: center;
    }

    .about__buttons{
        display: flex;
        justify-content: center;
    }

    /* For medium devices */
    @media screen and (min-width: 568px){
        .about__container{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 768px) {
        .about__container{
            column-gap: 5rem;
        }
        .about__img{
            width: 250px;
        }
        .about__description{
            text-align: initial;
        }
        .about__info{
            justify-content: space-between;
        }
        .about__buttons{
            justify-content: initial;
        }
    }
</style>