<script lang="ts">
	export let title;
  export let href;
  export let publishedOn;
  export let cardImage;

  function redirectOnClick() {
      window.location=href;
  }
</script>

<div class="card gradient-border">
  <div role="button" tabindex="0" class="card-image-wrap" on:click={redirectOnClick} on:keydown={(e) => e.key === 'Enter' && redirectOnClick()}>
    <img alt="card" class="card-image" src="/{cardImage}">
  </div>
  <div class="card-content">
    <div class="publishedOnInfo">
      <!-- <i class="fa fa-spinner fa-spin"></i> -->
      <i class="far fa-calendar-alt"></i>
      <date>{new Date(publishedOn).toDateString()}</date>
    </div>
    <h3 class="title">{title}</h3>
    <!-- <svg class="hb hc hd" width="15" height="15" viewBox="0 0 15 15" aria-label="Member only content"><path d="M7.44 2.32c.03-.1.09-.1.12 0l1.2 3.53a.29.29 0 0 0 .26.2h3.88c.11 0 .13.04.04.1L9.8 8.33a.27.27 0 0 0-.1.29l1.2 3.53c.03.1-.01.13-.1.07l-3.14-2.18a.3.3 0 0 0-.32 0L4.2 12.22c-.1.06-.14.03-.1-.07l1.2-3.53a.27.27 0 0 0-.1-.3L2.06 6.16c-.1-.06-.07-.12.03-.12h3.89a.29.29 0 0 0 .26-.19l1.2-3.52z"></path></svg> -->

    <button class="read-article-btn" on:click={redirectOnClick}>Read the article</button>
  </div>
</div>

<style lang="postcss">
    .card-content{
        margin: 1rem;
    }

    .card-image-wrap {
      position: relative;
      background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    }

    img {
      display: block;
      opacity: 0.5;
    }

    .card-image {
      aspect-ratio: auto 2 / 1;
      mix-blend-mode: overlay;
      opacity: 0.8;
    }

    .card{
      overflow: hidden;
      display: flex;
      /* height: 100%; */
      flex-direction: row;
      flex-wrap: wrap;
      /* margin-bottom: 1rem;
      margin-top: 1rem; */
      border-radius: 1rem;
      border-width: 0.5px;
      width: clamp(20rem, 80%, 26rem);
      /* aspect-ratio: 2/1; */
      /* background-color: var(--first-color); */
      border-color: var(--first-color);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    }

    @keyframes animateBorderWidth {
      0% {
        opacity: .8;
      }
      50%{
        opacity: 0.4;
      }
      100% {
        opacity: 0.8;
      }
    }

    .read-article-btn {
      cursor: pointer;
      margin-top: 2rem;
      border-radius: 4px;
      padding: 4px;
      background-color: var(--body-color);
      color: var(--text-color);
    }

    .read-article-btn:hover {
      /* animation: animateBorderWidth 1.5s ease-out alternate infinite; */
      background-color: var(--body-color);
      color: var(--first-color);
    }
</style>
