<!--==================== CONTACT ME ====================-->
<section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in touch</span>

    <div class="contact__container container grid">
        <div>
            <div class="contact__information">
                <a href="tel:+420776027017">
                    <i class="uil uil-phone contact__icon"></i>
                </a>

                <div>
                    <h3 class="contact__title">Call Me</h3>
                    <span class="contact__subtitle">+420 776 027 017</span>
                </div>
            </div>

            <div class="contact__information">
                <a href="mailto:michael.hrabe@gmail.com">
                    <i class="uil uil-envelope contact__icon"></i>
                </a>

                <div>
                    <h3 class="contact__title">Email</h3>
                    <span class="contact__subtitle">michael.hrabe@gmail.com</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="uil uil-map-marker contact__icon"></i>

                <div>
                    <h3 class="contact__title">Location</h3>
                    <span class="contact__subtitle">5. Května 795, Prague, Czechia</span>
                </div>
            </div>
        </div>
    </div>

</section>

<style lang="postcss">
    .grid{
        display: grid;
        gap: 1.5rem;
    }
    /*==================== CONTACT ME ====================*/
    .contact__container{
        row-gap: 3rem;
    }

    .contact__information{
        display: flex;
        margin-bottom: var(--mb-2);
    }

    .contact__icon{
        font-size: 2rem;
        color: var(--first-color);
        margin-right: var(--mb-0-75);
    }

    .contact__title{
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
    }

    .contact__subtitle{
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }

    .contact__content{
        background-color: var(--input-color);
        border-radius: .5rem;
        padding: .75rem 1rem .25rem;
    }

    .contact__label{
        font-size: var(--smaller-font-size);
        color: var(--title-color);
    }

    .contact__input{
        width: 100%;
        background-color: var(--input-color);
        color: var(--text-color);
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        border: none;
        outline: none;
        padding: .25rem .5rem .5rem 0;
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For small devices */
    @media screen and (max-width: 350px){
    }

    /* For medium devices */
    @media screen and (min-width: 568px){

    }

    @media screen and (min-width: 768px) {
        .section{
            padding: 6rem 0 2rem;
        }
        .section__subtitle{
            margin-bottom: 4rem;
        }
    }

    /* For large devices */
    @media screen and (min-width: 1024px) {

        .contact__inputs{
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>