<script lang="ts">
    import { page } from '$app/state';

</script>

<!-- <footer>
    <p>&copy; 2021 Michael Hrabe</p>
</footer> -->
<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__bg">
      <div class="footer__container container grid">
          <div>
              <h1 class="footer__title">Michael</h1>
              <span class="footer__subtitle">Developer</span>
          </div>

          <ul class="footer__links">
              <li>
                    <a href="#about" class="footer__link">About</a>
              </li>
              <li>
                  <a href="#services" class="footer__link">Services</a>
              </li>

              <li>
                  <a href="#contact" class="footer__link">Contact Me</a>
              </li>

              <li>
                  <a href="/blog" class="footer__link" class:active={page.url.pathname.includes('blog')}>Blog</a>
              </li>
          </ul>

          <div class="footer__socials">
              <a href="https://www.facebook.com/michael.hrabe" class="footer__social" target="_blank">
                  <i class="uil uil-facebook-f"></i>
              </a>

              <a href="https://www.instagram.com/mhinstahell/" target="_blank" class="footer__social">
                  <i class="uil uil-instagram"></i>
              </a>

              <a href="https://www.linkedin.com/in/michael-hrab%C4%9B-176082b2/" target="_blank" class="footer__social">
                  <i class="uil uil-linkedin-alt"></i>
              </a>
          </div>
      </div>

      <p class="footer__copy">&#169; Michael Hrabe. All rights reserved.</p>
  </div>
</footer>

<style lang="postcss">
    .grid{
        display: grid;
        gap: 1.5rem;
    }

    /*==================== FOOTER ====================*/
    .footer{
        padding-top: 2rem;
    }

    .footer__container{
        row-gap: 3.5rem;
    }

    .footer__bg{
        background-color: var(--first-color-second);
        padding: 2rem 0 3rem;
    }

    .footer__title{
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-0-25);
    }

    .footer__subtitle{
        font-size: var(--small-font-size);
    }
    .footer__links{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .footer__link:hover{
        color: var(--first-color-lighter);
    }

    .footer__social{
        font-size: 1.25rem;
        margin-right: var(--mb-1-5);
    }

    .footer__social:hover {
        color: var(--first-color-lighter);
    }

    .footer__copy{
        font-size: var(--smaller-font-size);
        text-align: center;
        color: var(--text-color-light);
        margin-top: var(--mb-3);
    }

    .footer__title,
    .footer__subtitle,
    .footer__link,
    .footer__social{
        color: #FFF;
    }
    /* For medium devices */
    @media screen and (min-width: 568px){
        .footer__container{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 768px) {
        .footer__container{
            padding: 0 1rem;
        }

        .footer__container{
            grid-template-columns: repeat(3, 1fr);
        }
        .footer__bg{
            padding: 3rem 0 3.5rem;
        }
        .footer__links{
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            column-gap: 1rem;
        }
        .footer__socials{
            justify-self: flex-end;
        }
        .footer__copy{
            margin-top: 4.5rem;
        }
    }

    /* For large devices */
    @media screen and (min-width: 1024px) {
        .footer__container{
            padding: 0;
        }

        .contact__inputs{
            grid-template-columns: repeat(2, 1fr);
        }
    }

</style>
