<script lang="ts">
    import { page } from '$app/state';
    import { onMount } from 'svelte';
    import ThemeButton from '$lib/components/ThemeButton.svelte';

    let showMenu = false;

    onMount(() => {
        /*==================== CHANGE BACKGROUND HEADER ====================*/
        function scrollHeader(){
            const nav = document.getElementById('header');
            // When the scroll is greater than 200 viewport height, add the scroll-header class to the header tag
            if(this.scrollY >= 80) nav.classList.add('scroll-header'); else nav.classList.remove('scroll-header');
        }
        window.addEventListener('scroll', scrollHeader);

        /*==================== SCROLL SECTIONS ACTIVE LINK ====================*/
        function scrollActive(){
            const sections = document.querySelectorAll('section[id]')
            // console.log(sections)
            // const scrollY = window.pageYOffset;
            const scrollY = window.scrollY

            sections.forEach(current => {
                const sectionHeight = (current as HTMLElement).offsetHeight;
                const sectionTop = (current as HTMLElement).offsetTop - 50;
                let sectionId = (current as HTMLElement).getAttribute('id');
                // console.log(sectionId)

                // console.log(document.querySelector('.nav__menu a[href*=' + sectionId + ']'))

                if(scrollY > sectionTop && scrollY <= sectionTop + sectionHeight){
                    document.querySelector('.nav__menu a[href*=' + sectionId + ']').classList.add('active-link');
                }else{
                    // console.log(sectionId)
                    if (document.querySelector('.nav__menu a[href*=' + sectionId + ']') != null){
                        document.querySelector('.nav__menu a[href*=' + sectionId + ']').classList.remove('active-link');
                    }
                }
            })
        }
        window.addEventListener('scroll', scrollActive);
    });
</script>

<!-- <body> -->
<header class="header" id="header">
    <nav class="nav container">
        <a href="/blog" class="nav__logo" class:active={page.url.pathname.includes('blog')}>DevBlog</a>
        <div class={"nav__menu " + (showMenu ? "show-menu" : "")} id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item"  class:active={page.url.pathname === '/'}>
                    <a href="/#home" class="nav__link active-link">
                        <i class="uil uil-estate nav__icon"></i> Home
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/#about" class="nav__link">
                        <i class="uil uil-user nav__icon"></i> About
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/#skills" class="nav__link">
                        <i class="uil uil-file-alt nav__icon"></i> Skills
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/#experience" class="nav__link">
                        <i class="uil uil-scenery nav__icon"></i> Experience
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/#services" class="nav__link">
                        <i class="uil uil-briefcase-alt nav__icon"></i> Services
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/#contact" class="nav__link">
                        <i class="uil uil-estate nav__icon"></i> Contact Me
                    </a>
                </li>
            </ul>
            <i class="uil uil-times nav__close" id="nav-close" on:click={() => showMenu = false}></i>
        </div>

        <div class="nav__btns">
            <!--Theme change button-->
            <ThemeButton />
            <div class="nav__toggle" on:click={() => showMenu = true}>
                <i class="uil uil-apps"></i>
            </div>
        </div>
    </nav>
</header>

<style lang="postcss">
    .grid{
        display: grid;
        gap: 1.5rem;
    }
    /*========== Button Dark/Light ==========*/
    .nav__btns{
        display: flex;
        align-items: center;
    }

    .change-theme{
        font-size: 1.25rem;
        color: var(--title-color);
        margin-right: var(--mb-1);
        cursor: pointer;
    }

    .change-theme:hover{
        color: var(--first-color);
    }
    .header{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--body-color);
    }

    /*==================== NAV ====================*/
    .nav
    {
        max-width: 968px;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo,
    .nav__toggle{
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    .nav__logo:hover{
        color: var(--first-color);
    }

    .nav__toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav__toggle:hover{
        color: var(--first-color);
    }

    @media screen and (max-width: 767px){
        .nav__menu{
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            background-color: var(--body-color);
            padding: 2rem 1.5rem 4rem;
            box-shadow: 0 -1px 4px rgba(0,0,0,.15);
            border-radius: 1.5rem 1.5rem 0 0;
            transition: .3s;
        }
    }

    .nav__list{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--small-font-size);
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    .nav__link:hover{
        color: var(--first-color);
    }

    .nav__icon{
        font-size: 1.2rem;
    }

    .nav__close{
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--first-color);
    }

    .nav__close:hover{
        color: var(--first-color-alt);
    }
    /* show menu */
    .show-menu{
        bottom: 0;
    }

    /* Active link */
    .active-link{
        color: var(--first-color);
    }

    /* Change background header */
    .scroll-header{
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For small devices */
    @media screen and (max-width: 450px){
        .nav__menu{
            padding: 2rem .25rem 4rem;
        }
        .nav__list{
            column-gap: 0;
        }
    }

    @media screen and (min-width: 768px) {
        .header{
            top: 0;
            bottom: initial;
        }
        .header,
        .main{
            padding: 0 1rem;
        }

        .nav{
            height: calc(var(--header-height) + 1.5rem);
            column-gap: 1rem;
        }
        .nav__icon,
        .nav__close,
        .nav__toggle{
            display: none;
        }
        .nav__list{
            display: flex;
            column-gap: 2rem;
        }
        .nav__menu{
            margin-left: auto;
        }

        .change-theme{
            margin: 0;
        }
    }

    /* For large devices */
    @media screen and (min-width: 1024px) {
        .header,
        .main{
            padding: 0;
        }
    }

</style>
