<script lang="ts">
  import Card from "$lib/card.svelte";
  import { page } from '$lib/store'

  export let posts: any[]
  export let page_size: number
  
  let page_count = Math.ceil(posts.length/(page_size ?? posts.length))

  function backPage() {
    page.update(n => n - 1);
  }

  function nextPage() {
    page.update(n => n + 1);
  }

  import { elasticOut } from "svelte/easing";
  
  function swoop(node: HTMLElement, params: any) {
    return {
      delay: params.delay,
      duration: Math.floor(Math.random() * 1000) + params.duration,
      easing: elasticOut,
      css: (t, u) => `transform: scale(${t}) translateX(${u * 100}%);`
    }
  }
  import { onMount } from "svelte";
  let mounted = false;
  onMount(() => {
    mounted = true;
  });


</script>

<!-- render each post -->
<!-- <div class="flex flex-col align-middle content-center justify-center"> -->

<div class="grid">  
    {#each posts.slice(($page - 1) * page_size, $page * page_size) as post}
      {#if mounted}
        <div class="post" transition:swoop={{ delay: 400, duration: 1000 }}>
            <Card
              title={post.title} 
              href={`/blog/posts/${post.slug}`}
              publishedOn={post.publishedOn} 
              cardImage={post.cardImage}
              ></Card>
        </div>
      {/if}
    {/each}
</div>
  
  <!-- pagination -->
  <div class="pagination">
    <div class="direction">
      {#if $page > 1}
      <button on:click={backPage}><i class="fas fa-angle-left"></i></button>
      {/if}
    </div>
    <div class="direction">
      {#if $page < page_count}
      <button on:click={nextPage}><i class="fas fa-angle-right"></i></button>
      {/if}
    </div>
  </div>
  
<style lang="postcss">
  .grid {
    display: grid;
    max-width: 1300px;
    margin: 0;
    padding: 0;
    /* margin: 1rem auto; */
    gap: 1rem;
    grid-auto-flow: dense; /* [2] */
    grid-template-columns: repeat(auto-fit, 20rem); /* [1] */
    justify-content: center;
  }

  .grid > div {
    align-items: flex-start;
    /* background: rgb(92, 91, 91); */
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    height: 100%;
}

  /* .post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */

  .pagination {
    @apply m-auto w-80 flex flex-row flex-wrap content-between justify-between;
  }

  .direction {
    @apply w-6 flex align-middle content-center justify-center;
  }

  .direction button {
    @apply no-underline text-xl;
  }

  i {
    @apply text-3xl;
    color: var(--text-color);
  }
</style>
