<script lang="ts">
    let targetN = 1;

    function handleClick(idx) {
        targetN = idx
    }
    
    import IntersectionObserver from '$lib/components/IntersectionObserver.svelte';

</script>

<!--==================== QUALIFICATION ====================-->
<section class="qualification section" id="experience">
    <h2 class="section__title">Experience</h2>
    <div class="section__subtitle">My personal journey</div>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class={targetN === 1 ? "qualification__button button--flex qualification__active" : 'qualification__button button--flex'} on:click={() => handleClick(1)}>
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Education
            </div>

            <div class={targetN === 2 ? "qualification__button button--flex qualification__active" : 'qualification__button button--flex'} on:click={() => handleClick(2)}>
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Work
            </div>
        </div>

        <div class="qualification__sections">
            

            <!--===============================QUALIFICATION CONTENT 1 ===========================-->
            <div class={targetN === 1 ? "qualification__content qualification__active" : 'qualification__content'}>
                <IntersectionObserver let:intersecting top={-120}>
                <!--===============================QUALIFICATION 1 ===========================-->
                <div class={intersecting ? "qualification__data active": "qualification__data"}>
                    <div>
                        <h3 class="qualification__title">Master's degree in Cybernetics</h3>
                        <span class="qualification__subtitle">The University of West Bohemia</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            September, 2015 - September, 2017
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                </IntersectionObserver>

                <IntersectionObserver let:intersecting top={-120}>
                    <!-- {#if intersecting} -->
                <!--===============================QUALIFICATION 2 ===========================-->
                <div class={intersecting ? "qualification__data active": "qualification__data"}>
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">BSc. in Cybernetics</h3>
                        <span class="qualification__subtitle">The University of West Bohemia</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            September, 2012 - September, 2015
                        </div>
                    </div>
                </div>
                <!-- {/if} -->
                </IntersectionObserver>
                
                <IntersectionObserver let:intersecting top={-120}>
                    <!-- {#if intersecting} -->
                <!--===============================QUALIFICATION 3 ===========================-->
                <div class={intersecting ? "qualification__data active": "qualification__data"}>
                    <div>
                        <h3 class="qualification__title">Secondary School Certificate</h3>
                        <span class="qualification__subtitle">Gymnasium Luďka Pika</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            September, 2006 - June, 2012
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                    </div>
                </div>
                <!-- {/if} -->
                </IntersectionObserver>
            </div>

            <!--===============================QUALIFICATION CONTENT 2 ===========================-->
            <div class={targetN === 2 ? "qualification__content qualification__active" : 'qualification__content'}>
                <IntersectionObserver let:intersecting top={-120}>
                <div class={intersecting ? "qualification__data active": "qualification__data"}>
                    <div>
                        <h3 class="qualification__title">Quantitative developer - AVP</h3>
                        <span class="qualification__subtitle">
                            <a href="https://www.cib.barclays" target="_blank">Barclays Corporate and Investment Bank</a>
                        </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            February, 2019 - running
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                </IntersectionObserver>

                <IntersectionObserver let:intersecting top={-120}>
                <div class={intersecting ? "qualification__data active": "qualification__data"}>
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Programmer Analyst
                        </h3>
                        <span class="qualification__subtitle">
                            <a href="https://www.cgi.com" target="_blank">CGI IT Czech Republic, s.r.o.</a>
                        </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            November, 2017 - January, 2019
                        </div>
                    </div>
                </div>
                </IntersectionObserver>

                <IntersectionObserver let:intersecting top={-120}>
                <div class={intersecting ? "qualification__data active": "qualification__data"}>
                    <div>
                        <h3 class="qualification__title">Software Development</h3>
                        <span class="qualification__subtitle">
                            <a href="https://www.rexcontrols.com/" target="_blank">REX Controls s.r.o.</a>
                            <small>(A subsidiary of Robi Axiata Limited)</small></span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            November, 2016 - September, 2017
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                </IntersectionObserver>

                <IntersectionObserver let:intersecting top={-120}>
                <div class={intersecting ? "qualification__data active": "qualification__data"}>
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">

                            <a class="qualification__tech" href="https://www.java.com" target="_blank">Java</a>
                            Junior Programmer
                        </h3>
                        <span class="qualification__subtitle">
                            <a href="https://aftermarket.zf.com/go/en/openmatics/home/" target="_blank">ZF OPENMATICS s.r.o.</a>
                        </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            June, 2014 - July, 2017
                        </div>
                    </div>
                </div>
                </IntersectionObserver>
            </div>
        </div>
    </div>
</section>

<!-- {/if}
</IntersectionObserver> -->

<style lang="postcss">
    /*==================== QUALIFICATION ====================*/
    .qualification__tabs{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mb-2);
    }

    .qualification__button{
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        cursor: pointer;
    }

    .qualification__button:hover{
        color: var(--first-color);
    }

    .qualification__icon{
        font-size: 1.8rem;
        margin-right: var(--mb-0-25);
    }

    .qualification__data{
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
        opacity: 0.0;
        transition: all 0.3s ease;
    }

    .qualification__data.active {
        opacity: 1;
    }

    .qualification__title{
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }

    .qualification__subtitle{
        display: inline-block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-1);
    }

    .qualification__calendar{
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
    }

    .qualification__rounder{
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: var(--first-color);
        border-radius: 50%;
    }

    .qualification__line{
        display: block;
        width: 1px;
        height: 100%;
        background-color: var(--first-color);
        transform: translate(6px, -7px);
    }

    .qualification__content{
        display: none;
    }

    .qualification__content.qualification__active{
        display: block;
    }

    .qualification__button.qualification__active{
        color: var(--first-color);
    }

    .qualification__tech{
        border-bottom: 3px solid var(--first-color-alt);
        border-radius: .2rem;
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For small devices */
    @media screen and (max-width: 350px){
        .qualification__data{
            gap: .5rem;
        }
    }

    /* For medium devices */
    @media screen and (min-width: 568px){
        .qualification__sections{
            display: grid;
            grid-template-columns: .6fr;
            justify-content: center;
        }
    }

    @media screen and (min-width: 768px) {
        .qualification__tabs{
            justify-content: center;
        }
        .qualification__button{
            margin: 0 var(--mb-1);
        }
        .qualification__sections{
            grid-template-columns: .5fr;
        }
    }
</style>