
<script lang="ts">
    let serviceBtn = 0

    function toggleBtn(n){
        if(n == serviceBtn){
            serviceBtn = 0
        }else{
            serviceBtn = n
        }
    }
</script>

<!--==================== SERVICES ====================-->
<section class="services section" id="services">
    <h2 class="section__title">Services</h2>
    <span class="section__subtitle">What I offer</span>

    <div class="services__container container grid">
        <!--===================== SERVICES 1 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-arrow services__icon"></i>
                <h3 class="services__title">Backend <br> Developer</h3>

                <span class="button button--flex button--small button--link services__button" on:click={() => toggleBtn(1)}>
                    View More
                    <i class="uil uil-arrow-right button__icon"></i>
                </span>

                <div class={serviceBtn === 1 ? "services__modal active-modal": "services__modal"}>
                    <div class="services__modal-content">
                        <h4 class="services__modal-title">Backend <br> Developer</h4>
                        <button aria-label="modal" class="uil uil-times services__modal-close" on:click={() => toggleBtn(1)}></button>

                        <ul class="services__modal-services grid">
                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>I design Web Architecture.</p>
                            </li>

                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>I create structural backbone of the platform.</p>
                            </li>

                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>I maintain version control tools.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--===================== SERVICES 2 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-web-grid services__icon"></i>
                <h3 class="services__title">Cloud <br> Developer</h3>

                <span class="button button--flex button--small button--link services__button" on:click={() => toggleBtn(2)}>
                    View More
                    <i class="uil uil-arrow-right button__icon"></i>
                </span>

                <div class={serviceBtn === 2 ? "services__modal active-modal": "services__modal"}>
                    <div class="services__modal-content">
                        <h4 class="services__modal-title">Cloud <br> Developer</h4>
                        <button aria-label="modal" class="uil uil-times services__modal-close" on:click={() => toggleBtn(2)}></button>

                        <ul class="services__modal-services grid">
                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>Working with hybrid cloud model.</p>
                            </li>

                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>Migration of onpremises applications to cloud.</p>
                            </li>

                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>Infrastructure as a code.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--===================== SERVICES 3 ====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-pen services__icon"></i>
                <h3 class="services__title">Database <br> Designer</h3>

                <span class="button button--flex button--small button--link services__button" on:click={() => toggleBtn(3)}>
                    View More
                    <i class="uil uil-arrow-right button__icon"></i>
                </span>

                <div class={serviceBtn === 3 ? "services__modal active-modal": "services__modal"}>
                    <div class="services__modal-content">
                        <h4 class="services__modal-title">Database <br> Designer</h4>
                        <button aria-label="modal" class="uil uil-times services__modal-close" on:click={() => toggleBtn(3)}></button>


                        <ul class="services__modal-services grid">
                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>Working experience with MongoDb and SQLite databases.</p>
                            </li>

                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>I design and create database.</p>
                            </li>

                            <li class="services__modal-service">
                                <i class="uil uil-check-circle services__modal-icon"></i>
                                <p>Standard database maintenance.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="postcss">
    .grid{
        display: grid;
        gap: 1.5rem;
    }
    /*==================== SERVICES ====================*/
    .services__container{
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .services__content{
        position: relative;
        background-color: var(--container-color);
        padding: 3.5rem .5rem 1.25rem 1.5rem;
        border-radius: .25rem;
        box-shadow: 0 2px 4px rgba(0,0,0,.15);
        transition: .3s;
    }

    .services__content:hover{
        box-shadow: 0 4px 8px rgba(0,0,0,.15);
    }

    .services__icon{
        display: block;
        font-size: 1.5rem;
        color: var(--first-color);
        margin-bottom: var(--mb-1);
    }

    .services__title{
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-1);
        font-weight: var(--font-medium);
    }

    .services__button{
        cursor: pointer;
        font-size: var(--small-font-size);
    }

    .services__button:hover .button__icon{
        transform: translateX(.25rem);
    }

    .services__modal{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        z-index: var(--z-modal);
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    .services__modal-content{
        position: relative;
        background-color: var(--container-color);
        padding: 1.5rem;
        border-radius: .5rem;
    }

    .services__modal-service{
        row-gap: 1rem;
    }

    .services__modal-service{
        display: flex;
    }

    .services__modal-title{
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1-5);
    }

    .services__modal-close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--first-color);
        cursor: pointer;
    }
    .services__modal-icon{
        color: var(--first-color);
        margin-right: var(--mb-0-25);
    }

    /* Active Modal */
    .active-modal{
        opacity: 1;
        visibility: visible;
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For small devices */
    @media screen and (max-width: 350px){
        .services__container{
            grid-template-columns: max-content;
            justify-content: center;
        }
        .services__content{
            padding-right: 3.5rem;
        }
        .services__modal{
            padding: 0 .5rem;
        }
    }

    @media screen and (min-width: 768px) {
        .services__container{
            grid-template-columns: repeat(3, 218px);
            justify-content: center;
        }
        .services__icon{
            font-size: 2rem;
        }
        .services__content{
            padding: 6rem 0 2rem 2.5rem;
        }
        .services__modal-content{
            width: 450px;
        }
    }

    /* For large devices */
    @media screen and (min-width: 1024px) {
        .services__container{
            grid-template-columns: repeat(3, 238px);
        }
    }
</style>