<script lang="ts">
    let activeElemN = 1

    function handleClick(numb) {
        if (activeElemN === numb) {
            activeElemN = 0
        } else {
            activeElemN = numb
        }
    }
</script>


<!--==================== SKILLS ====================-->
<section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">My technical level</span>

    <div class="skills__container container grid">
        <!--====================== SKILLS 1 =============================-->
        <div class={activeElemN == 1 ? "skills__content skills__open": 'skills__content skills__close'}>
            <div aria-label="skill header" class="skills__header" on:click={() => handleClick(1)}>
                <i class="uil uil-brackets-curly skills__icon"></i>

                <div>
                    <h1 class="skills__title">Application Development</h1>
                    <span class="skills__subtitle">More than 5 years</span>
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
            </div>

            <div class="skills__list grid">
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">AWS cloud</h3>
                        <div class="skills__number">80%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__80"></div>
                    </div>
                </div>

                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Azure OpenAI</h3>
                        <div class="skills__number">40%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__40"></div>
                    </div>
                </div>

                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Terraform and Chef</h3>
                        <div class="skills__number">80%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__80"></div>
                    </div>
                </div>

                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Python</h3>
                        <div class="skills__number">90%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__90"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--====================== SKILLS 2 =============================-->
        <div class={activeElemN == 2 ? "skills__content skills__open": 'skills__content skills__close'}>
            <div aria-label="skill header" class="skills__header" on:click={() => handleClick(2)}>
                <i class="uil uil-brackets-curly skills__icon"></i>

                <div>
                    <h1 class="skills__title">Frontend Development</h1>
                    <span class="skills__subtitle">More than 3 year</span>
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
            </div>

            <div class="skills__list grid">
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Svelte.js</h3>
                        <div class="skills__number">70%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__70"></div>
                    </div>
                </div>

                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Material UI</h3>
                        <div class="skills__number">60%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__60"></div>
                    </div>
                </div>
                
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Typescript</h3>
                        <div class="skills__number">70%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__70"></div>
                    </div>
                </div>

                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">Angular</h3>
                        <div class="skills__number">60%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__60"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--====================== SKILLS 3 =============================-->
        <div class={activeElemN == 3 ? "skills__content skills__open": 'skills__content skills__close'}>
            <div class="skills__header" on:click={() => handleClick(3)}>
                <i class="uil uil-brackets-curly skills__icon"></i>

                <div>
                    <h1 class="skills__title">Database Design</h1>
                    <span class="skills__subtitle">More than 2 years</span>
                </div>

                <i class="uil uil-angle-down skills__arrow"></i>
            </div>

            <div class="skills__list grid">
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">MariaDb</h3>
                        <div class="skills__number">80%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__80"></div>
                    </div>
                </div>
                <div class="skills__data">
                    <div class="skills__titles">
                        <h3 class="skills__name">MongoDB</h3>
                        <div class="skills__number">70%</div>
                    </div>
                    <div class="skills__bar">
                        <div class="skills__percentage skills__70"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="postcss">
    .grid{
        display: grid;
        gap: 1.5rem;
    }
    /*==================== SKILLS ====================*/
    .skills__container{
        row-gap: 2rem;
    }

    .skills__header{
        display: flex;
        align-items: center;
        margin-bottom: var(--mb-2-5);
        cursor: pointer;
    }

    .skills__icon,
    .skills__arrow{
        font-size: 2rem;
        color: var(--first-color);
    }

    .skills__icon{
        margin-right: var(--mb-0-75);
    }

    .skills__title{
        font-size: var(--h3-font-size);
    }

    .skills__subtitle{
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }

    .skills__arrow{
        margin-left: auto;
        transition: .4s;
    }

    .skills__list{
        row-gap: 1.5rem;
        padding-left: 2.7rem;
    }

    .skills__titles{
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--mb-0-5);
    }

    .skills__name{
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }

    .skills__bar,
    .skills__percentage{
        height: 5px;
        border-radius: .25rem;
    }

    .skills__bar{
        background-color: var(--first-color-lighter);
    }

    .skills__percentage{
        display: block;
        background-color: var(--first-color);
    }

    .skills__10{
        width: 10%;
    }

    .skills__20{
        width: 20%;
    }

    .skills__40{
        width: 40%;
    }

    .skills__60{
        width: 60%;
    }

    .skills__70{
        width: 70%;
    }

    .skills__80{
        width: 80%;
    }

    .skills__90{
        width: 90%;
    }

    .skills__close .skills__list{
        height: 0;
        overflow: hidden;
    }

    .skills__open .skills__list{
        height: max-content;
        margin-bottom: var(--mb-2-5);
    }

    .skills__open .skills__arrow{
        transform: rotate(-180deg);
    }

    /*==================== MEDIA QUERIES ====================*/
    /* For small devices */
    @media screen and (max-width: 350px){
        .skills__title{
            font-size: var(--normal-font-size);
        }
    }

    @media screen and (min-width: 768px) {
        
    }
</style>