<script lang="ts">
  import Postboard from '$lib/postboard.svelte';
  import HeaderSection from "$lib/HeaderSection.svelte"
  const PAGE_SIZE = 9
  
  // import all markdown files from ./posts and turn it into an array
  let blog_posts = Object.entries(import.meta.glob('./posts/*.md', { eager: true }))
    .map(([, post]) => post.metadata)
    .sort((a, b) => (a.publishedOn < b.publishedOn ? 1 : -1))
 
</script>


<div class="grid-wrapper">
  <div class="header">
    <HeaderSection />
  </div>
  <Postboard
    posts={blog_posts}
    page_size={PAGE_SIZE}
  />
</div>

<style>
  .header{
      width: 100%;
      /* padding: 0 1rem; */
    }
  .grid-wrapper {
      /* height: 100%; */
      /* min-height: 80vh;  */
      display: flex;
      flex-direction: column;
      /* grid-template-rows: auto 1fr; */
      gap: 2rem;
    }
</style>
