<script lang="ts">
    import "../styles-global.css"
    import { theme } from '$lib/store'
</script>


<svelte:head>
  {#if $theme}
    <meta name="color-scheme" content={$theme} />
    <link rel="stylesheet" href={`/theme/${$theme}.css`} />
    <link rel="stylesheet" href={`/prismjs/${$theme == 'dark' ? 'prism-dracula' : 'prism'}.css`} />
  {/if}
</svelte:head>

{#if $theme}
<main>
    <slot />
</main>
{/if}
