<script context="module">
    import FooterSection from "$lib/FooterSection.svelte";
    import HeaderSection from "$lib/HeaderSection.svelte";
    import HomeSection from "$lib/HomeSection.svelte";
    import AboutSection from "$lib/AboutSection.svelte";
    import SkillsSection from "$lib/SkillsSection.svelte";
    import QualificationSection from "$lib/QualificationSection.svelte";
    import ServicesSection from "$lib/ServicesSection.svelte";
    import ContactSection from "$lib/ContactSection.svelte";

    export function scrollToY (y, duration = 0, element = document.scrollingElement) {
        // cancel if already on target position
        if (element.scrollTop === y) return;
    
        const cosParameter = (element.scrollTop - y) / 2;
        let scrollCount = 0, oldTimestamp = null;
    
        function step (newTimestamp) {
          if (oldTimestamp !== null) {
              // if duration is 0 scrollCount will be Infinity
              scrollCount += Math.PI * (newTimestamp - oldTimestamp) / duration;
              if (scrollCount >= Math.PI) {
                element.scrollTop = y
                return y;
              }
              element.scrollTop = cosParameter + y + cosParameter * Math.cos(scrollCount);
          }
          oldTimestamp = newTimestamp;
          window.requestAnimationFrame(step);
        }
        window.requestAnimationFrame(step);
    }
</script>

<script lang="ts">
  import { onMount } from 'svelte';

  let ready = false;
  let showScrollUp = false;

  /*
    * duration: scroll duration in milliseconds; default is 0 (no transition)
    * this function is using the scrollToY function
    */
    function scrollToTop(duration = 0) {
        scrollToY(0, duration, document.scrollingElement);
    }


    function clickOnScrollUpBtn() {
        scrollToTop(0.4);
    }

    function scrollUp(){
        // When the scroll is higher than 560 viewport height, add the show-scroll class to the a tag with the scroll-top class
        // console.log(scrollUp)
        showScrollUp = this.scrollY >= 560 ? true : false;
    }
  
    onMount(() => {
      ready = true;
      /*==================== SHOW SCROLL UP ====================*/
      window.addEventListener('scroll', scrollUp);
    });
</script>

{#if ready}
<div class="grid-wrapper" >
  <div class="header">
    <HeaderSection />
  </div>
  <div class="about">
    <HomeSection />
    <AboutSection />
    <SkillsSection />
    <QualificationSection />
    <ServicesSection />
    <ContactSection />
  </div>
  
  <div class="footer">
    <FooterSection />
  </div>
</div>

<!--==================== SCROLL TOP ====================-->
<div class={ showScrollUp ? "scrollup show-scroll" : 'scrollup'} id="scroll-up" on:click={clickOnScrollUpBtn}>
  <i class="uil uil-arrow-up scrollup__icon"></i>
</div>
{/if}

<style lang="postcss">
    .header{
      width: 100%;
      padding: 0 1rem;
    }

    .grid-wrapper {
      height: 100%;
      /* min-height: 80vh;  */
      display: grid;
      grid-template-rows: 1fr auto;
      gap: 2rem;
    }

    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: start;
      padding: 1rem;
      margin: auto;
      min-height: 100vh;
      max-width: 1300px;
    }

    /* .about {
      @apply min-h-full flex flex-row flex-wrap align-top justify-around content-start ml-auto mr-auto max-w-3xl text-2xl mt-6 p-4;
    } */

    /*========== SCROLL UP ==========*/
  .scrollup{
      position: fixed;
      right: 1rem;
      bottom: 0rem;
      background-color: var(--first-color);
      opacity: .0;
      padding: 0 .3rem;
      border-radius: .4rem;
      z-index: var(--z-tooltip);
      transition: .4s;
      cursor: pointer;
  }

  .scrollup:hover{
      background-color: var(--first-color-alt);
  }

  .scrollup__icon{
      font-size: 2rem;
      color: #FFF;
  }
  /* Show scroll */
  .show-scroll{
      bottom: 5rem;
      opacity: 0.8;
  }

  /*========== SCROLL BAR ==========*/
  ::-webkit-scrollbar{
      width: .60rem;
      background-color: var(--scroll-bar-color);
      border-radius: .5rem;
  }

  ::-webkit-scrollbar-thumb{
      background-color: var(--scroll-thumb-color);
      border-radius: .5rem;
  }

  @media screen and (min-width: 1024px) {
    .header, 
    .about {
      padding: 0;
    }
  }
</style>
