<script>
  import "../../../app.postcss";
  import { theme } from '$lib/store'
</script>

<svelte:head>
  {#if $theme}
    <meta name="color-scheme" content={$theme} />
    <link rel="stylesheet" href={`/theme/${$theme}.css`} />
    <link rel="stylesheet" href={`/prismjs/${$theme == 'dark' ? 'prism-dracula' : 'prism'}.css`} />
  {/if}
</svelte:head>

{#if $theme}
  <div class="p-4 container max-w-5xl mx-auto rounded-md">    
    <slot />
  </div>
{/if}