@import './styles-global.css';

/* @import '../static/theme/light.css' (prefers-color-scheme: light);
@import '../static/prismjs/prism.css' (prefers-color-scheme: light);
@import '../static/theme/dark.css' (prefers-color-scheme: dark);
@import '../static/prismjs/prism-dracula.css' (prefers-color-scheme: dark); */

/* */
/* Write your global styles here, in PostCSS syntax */
/* @tailwind components;
@tailwind utilities; */
