
<script>
  let imgSrc = "/my_photo.jpg";

  export let title;
  export let author;
  export let publishedOn;
</script>

<div class="title">
  <h1>{ title }</h1>
</div>

<div class="basic-info">
  <div class="avatar">
    <img src="{imgSrc}" alt='Avatar'/>
  </div>

  <div class="text">
    Author: <span class="author">{ author }</span>
    <br>
    Date: <span class="date">{ new Date(publishedOn).toDateString() }</span>
  </div>
</div>

<div class="layout">
  <slot />
</div>

<style lang="postcss">
  .layout {
    @apply shadow border-2 rounded-xl p-2;
  }

  img {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .title{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    place-items: center;
  }

  h1 {
    margin-left: auto;
    margin-right: auto;
  }

  .basic-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-areas: "avatar text";

    align-content: left;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
  }

  .avatar {
    grid-area: avatar;
  }

  .text {
    grid-area: text;
    margin: auto;
  }

  .date {
    grid-area: date;
    font-weight: 900;
    width: 12rem;
    text-align: left;
  }

  .author {
    grid-area: author;
    font-weight: 900;
    width: 12rem;
    text-align: left;
  }


</style>
