<script lang="ts">
  import { theme } from '$lib/store'
  import { Theme } from '../../global.d';
  import Switch from '$lib/components/Switch.svelte';
  import { Subject, tap } from 'rxjs'
import { onMount } from 'svelte';

  let isDarkTheme: boolean = $theme == Theme.Dark;
  // let isDarkTheme: boolean = false;
  let darkThemeSubj$: Subject<void> = new Subject()

  darkThemeSubj$.pipe(
    tap(
      console.log)
    ).subscribe((isDark: any) => {
      isDarkTheme =! isDarkTheme;
      console.log(isDarkTheme)
      $theme = isDarkTheme ? Theme.Dark : Theme.Light;
  })

  function redirectToMyFb() {
    window.location.href = 'https://www.facebook.com/michael.hrabe/';
  }

  function redirectToMyLinkedIn() {
    window.location.href = 'https://www.linkedin.com/in/michael-hrab%C4%9B-176082b2/';
  }

  onMount(() => {
    // const checked = document.querySelector("input").checked = isDarkTheme;
    (document.getElementById("theme-checkbox") as HTMLInputElement).checked = isDarkTheme
  })
  // let checkbox: boolean = isDarkTheme;
</script>

<div class="wrapper">
  <Switch onchange={() => {darkThemeSubj$.next()}}></Switch>

  <div class="social-media">
    <button aria-label="linkedin" on:click={redirectToMyLinkedIn}>
      <i class="fab fa-linkedin" ></i>
    </button>
    <button aria-label="facebook" on:click={redirectToMyFb}>
      <i class="fab fa-facebook"></i>
    </button>
  </div>
</div>

<style lang="postcss">
  .wrapper {
    @apply flex flex-col;
  }

  i {
    @apply text-2xl;
    color: var(--first-color-second);
  }
</style>
