<script lang="ts">
  // import { createEventDispatcher } from 'svelte';

  // const dispatch = createEventDispatcher();
  let { onchange } = $props();
</script>

<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--switch-bg);
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: var(--switch-checked);
  }

  input:checked + .slider {
    box-shadow: 0 0 1px var(--switch-checked);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
</style>

<label class="switch">
  <input id="theme-checkbox" type="checkbox" onchange={onchange} />
  <span class="slider" ></span>
</label>
