<script lang="ts">
    // import { createEventDispatcher } from 'svelte';
  
    // const dispatch = createEventDispatcher();
    import { theme } from '$lib/store'
    import { Theme } from '../../global.d';
    import { Subject, tap } from 'rxjs'
    import { onMount } from 'svelte';

    let isDarkTheme: boolean = $theme == Theme.Dark;
    // let isDarkTheme: boolean = false;
    let darkThemeSubj$: Subject<void> = new Subject()

    darkThemeSubj$.pipe(
    tap(
      console.log)
    ).subscribe((isDark: any) => {
      isDarkTheme =! isDarkTheme;
      console.log(isDarkTheme)
      $theme = isDarkTheme ? Theme.Dark : Theme.Light;
    })

    onMount(() => {
        // (document.getElementById("theme-button") as HTMLInputElement).checked = isDarkTheme
    })
</script>

{#if isDarkTheme}
    <i class="uil uil-sun change-theme" id="theme-button" on:click={() => {darkThemeSubj$.next()}}></i>
{:else}
    <i class="uil uil-moon change-theme" id="theme-button" on:click={() => {darkThemeSubj$.next()}}></i>
{/if}

<style lang="postcss">
    /*========== Button Dark/Light ==========*/
    .nav__btns{
        display: flex;
        align-items: center;
    }

    .change-theme{
        font-size: 1.25rem;
        color: var(--title-color);
        margin-right: var(--mb-1);
        cursor: pointer;
    }

    .change-theme:hover{
        color: var(--first-color);
    }

    @media screen and (min-width: 768px) {
        .change-theme{
            margin: 0;
        }
    }
</style>
